<div>
  <%= link_to image_tag("/assets/icons/application_edit.png", :alt => "")+ " " + t("meeting.actions.edit.label"), edit_meeting_path(@participation.link) %>
  <%= link_to image_tag("/assets/icons/cross.png", :alt => "") + " " + t("meeting.actions.delete.label"), meeting_path(@participation.link), :confirm => t("meeting.actions.delete.confirm"), :method => :delete %>
</div>