<div>
  <button type="button" id="edit" class="ent-button clickable"></button>
  <!--<%= link_to image_tag("/assets/icons/cross.png", :alt => "") + " " + t("meeting.actions.delete.label"), meeting_path(@participation.link), :confirm => t("meeting.actions.delete.confirm"), :method => :delete %>-->
</div>