<% unless @meeting.participations.blank? %>
  <p>
    <b><%= t("meeting.views.show.text.participants") %></b>
  </p>
  <div class="list">
    <% @meeting.participations.each do |participation| %>
      <p><%= participation.user.name_formatted %></p>
    <% end %>
  </div>
<% end %>