<% unless @meeting.topics.blank? %>
  <p>
    <b><%= t("activerecord.attributes.meeting.topics") %></b>
  </p>
  <div class="list">
    <% @meeting.topics.each do |topic| %>
      <p><%= topic %></p>
    <% end %>
  </div>
<% end %>