* {
  padding:0px;
  margin:0px;
  border:0px;
}

html {
  height:100%;
  overflow-y:scroll; /* Easiest way to avoid the side jump when the scrollbar appears - making the scrollbar always visible... */
}

body {
  position:relative;
  height:100%;
  min-width:600px;
  background-color:#949494;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:18px;
}

ul {
  list-style-type:none;
}

#header {
  position:relative;
  width:100%;
  height:120px;
}

#header h1 {
  position:absolute;
  top:50px;
  left:50%;
  margin-left:-149px;
  font-size:60px;
}

#header h1 a:link, #header h1 a:visited, #header h1 a:hover, #header h1 a:active {
  color:#000000;
  text-decoration:none;
}

#main-navigation {
  position:absolute;
  top:18px;
  left:20px;
  height:32px;
  line-height:32px;
}

#main-navigation a:link, #main-navigation a:visited, #main-navigation a:hover, #main-navigation a:active {
  color:#000000;
  text-decoration:none;
}

#user-navigation {
  position:absolute;
  top:35px;
  right:35px;
  text-align:right;
}

#drop-menu {
  position:relative;
}

#bubble {
  position:absolute;
  top:40px;
  right:-20px;
  background-color:#949494;
  border:1px solid;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2), inset 0 0 0 #000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2), inset 0 0 0 #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2), inset 0 0 0 #000;
}

#bubble:before {
  content:' ';
  position:absolute;
  width:0;
  height:0;
  right:16px;
  top:-22px;
  border:11px solid;
  border-color:transparent transparent #000000 transparent;
}

#bubble:after {
  content: ' ';
  position:absolute;
  width:0;
  height:0;
  right:18px;
  top:-18px;
  border:9px solid;
  border-color:transparent transparent #949494 transparent;
}

#drop-items {
  padding:10px;
  line-height:30px;
  font-size:15px;
}

#drop-items a:link, #drop-items a:visited, #drop-items a:hover, #drop-items a:active {
  color:#000000;
  text-decoration:none;
}

#content {
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:70px; /* height of footer plus some */
}

#footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  padding-left:20px;
  padding-right:20px;
  height:50px;
  line-height:50px;
  font-size:12px;
}

#footer-wrapper {
  position:relative;
  color:white;
}

#footer-navigation {
  position:absolute;
  top:0px;
  right:0px;
}

#footer-navigation a {
  margin-left:50px;
}

#footer-navigation a:link, #footer-navigation a:visited {
  color:white;
}

div.center-wrapper {
  text-align:center;
  line-height:0px;
}

div.centered {
  display:inline-block;
  line-height:normal;
  text-align:left;
}

/* flash-messages */
#flash {
  text-align:center;
  font-size:17px;
}
#flash .message {
  display:inline-block;
  max-width:1000px;
  min-width:500px;
  width:70%;
  margin: 0 auto 15px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
#flash .message p {
  margin:8px;
}
#flash .error {
  border:1px solid #fbb;
  background:#fdd url('icons/error.png') no-repeat 10px center;
}
#flash .warning, #flash .alert {
  border:1px solid #ffff88;
  background:#ffffcc url('icons/warning.png') no-repeat 10px center;
}
#flash .notice {
  border:1px solid #1FDF00;
  background:#BBFFB6 url('icons/notice.png') no-repeat 10px center;
}

.clickable {
  cursor:pointer;
}

hr {
  border:1px solid #000000;
}

a.home-button:link, a.home-button:visited, button.home-button {
  color:#FFFFFF;
  display:block;
  float:left;
  background-color:#000000;
  font-size:1em;
  line-height:1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:10px 40px 11px 40px;
  text-decoration:none;
  border:1px solid #000000;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
a.home-button:hover {
  background-color:#191919;
  text-decoration:none;
}
a.home-button:active {
  background-color:#333333;
  text-decoration:none;
}

button.home-button {
  width:auto;
  overflow:visible;
}
button.home-button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}
button.home-button:hover, a.home-button:hover {
  background-color:#191919;
}
button.home-button:active, a.home-button:active {
  background-color:#333333;
}






/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color:#222;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size:1em;
  line-height:1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration:none;
}
button.button {
  width:auto;
  overflow:visible;
}
button.button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}
button.button img, a.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}
button.button:hover, a.button:hover {
  background-color:#dedede;
}
button.button:active, a.button:active {
  background-color:#e5e5e5;
}
.text_button_padding{
  color: #222222;
  display: block;
  float: left;
  font-size: 1em;
  line-height: 2em;
  margin: 0 7px 0 0;
  padding: 5px 0 6px 7px;
  text-decoration: none;
}

#date_picker {
  position:absolute;
}


#topicsDiv img {
  vertical-align:middle;
}