* {
  padding:0px;
  margin:0px;
  border:0px;
}

html {
  height:100%;
  /*overflow-y:scroll; /* Easiest way to avoid the side jump when the scrollbar appears - making the scrollbar always visible... */
  overflow-y: auto;
}

body {
  position:relative;
  height:100%;
  min-width:600px;
  background-color:#C4C4C4;
  background-color:-moz-radial-gradient(50% 50%, farthest-side, #fff, #949494);
  background:-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#fff), to(#949494));
  background:-o-radial-gradient(#fff, #949494);
  background-repeat:no-repeat;
  background-position:center;
	background-size: 100% 100%;
 -o-background-size: 100% 100%;
 -moz-background-size: 100% 100%;
 -webkit-background-size: 100% 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  list-style-type:none;
}

#header {
  position:relative;
  width:100%;
  
}

#header h1 {
  position:absolute;
  top:50px;
  left:50%;
  margin-left:-149px;
  font-size:60px;
}

#header h1 a:link, #header h1 a:visited, #header h1 a:hover, #header h1 a:active {
  color:#000000;
  text-decoration:none;
}

#user-navigation {
  position:absolute;
  top:35px;
  right:35px;
  text-align:right;
}

#drop-menu {
  position:relative;
}

#drop-button:hover {
  cursor:pointer;
}

#options {
  position:absolute;
  top:40px;
  right:-20px;
  background-color:transparent;
}

.bubble {
  background-color:#AFAFAF;
  border:1px solid;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}

.bubble:before {
  content:'';
  position:absolute;
  width:0;
  height:0;
  right:16px;
  top:-22px;
  border:11px solid;
  border-color:transparent transparent #000000 transparent;
}

.bubble:after {
  content:'';
  position:absolute;
  width:0;
  height:0;
  right:18px;
  top:-18px;
  border:9px solid;
  border-color:transparent transparent #AFAFAF transparent;
}

#drop-items {
  padding:10px;
  line-height:30px;
  font-size:12px;
  font-family:Verdana;
}

#drop-items a:link, #drop-items a:visited, #drop-items a:hover, #drop-items a:active {
  color:#000000;
  text-decoration:none;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.push {
  height: 100px; /* .push must be the same height as .footer */
}

#footer {
  bottom:0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  height:50px;
  line-height:50px;
  font-size:12px;
  font-family:Verdana;
}

#footer span {
  float:left;
  padding-left:40px;
}

.footer-nav {
  float:right;
}

.footer-nav ul {
  list-style-type:none;
}

.footer-nav li {
  display:inline-block;
  padding-right:40px;
}

.footer-nav a:link, .footer-nav a:visited, .footer-nav a:hover, .footer-nav a:active {
  color:#000000;
  text-decoration:none;
}

#footer-wrapper {
  position:relative;
  color:white;
}

#footer-navigation {
  position:absolute;
  top:0px;
  right:0px;
}

#footer-navigation a {
  margin-left:50px;
}

#footer-navigation a:link, #footer-navigation a:visited {
  color:white;
}

div.center-wrapper {
  text-align:center;
  line-height:0px;
}

div.centered {
  display:inline-block;
  line-height:normal;
  text-align:left;
}

/* flash-messages */
#flash {
  position: absolute;
  top: 12px0px;
  left: 10px;
  text-align: center;
  font-size: 17px;
}
#flash .message {
  display:inline-block;
  max-width:1000px;
  min-width:600px;
  width:70%;
  margin: 0 auto 15px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
#flash .message p {
  margin:8px;
}
#flash .error {
  border:1px solid #fbb;
  background:#fdd url('icons/error.png') no-repeat 10px center;
}
#flash .warning, #flash .alert {
  border:1px solid #ffff88;
  background:#ffffcc url('icons/warning.png') no-repeat 10px center;
}
#flash .notice {
  border:1px solid #1FDF00;
  background:#BBFFB6 url('icons/notice.png') no-repeat 10px center;
}

hr {
  border:1px solid #000000;
}

a.home-button:link, a.home-button:visited, button.home-button {
  color:#FFFFFF;
  background-color:#000000;
  font-size:1em;
  line-height:1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:10px 40px 11px 40px;
  text-decoration:none;
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
a.home-button:hover {
  background-color:#191919;
  text-decoration:none;
}
a.home-button:active {
  background-color:#333333;
  text-decoration:none;
}

button.home-button {
	width:170px;
	height:40px;
	overflow:visible;
	background-image: url("buttons/button_nm.png");
	background-size:170px 40px;
	background-repeat:no-repeat;
	background-position:center;
}

button.home-button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}
button.home-button:hover, a.home-button:hover {
  background-color:#191919;
}
button.home-button:active, a.home-button:active {
  background-color:#333333;
}


button.x-button {
	position:absolute;
	top:15px;
	right:15px;
	width:15px;
	height:15px;
	overflow:visible;
	background-color:transparent;
	background-image: url("buttons/buttonX.png");
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:center;
	-webkit-appearance:none;
}

button.x-button-p {
	width:7px;
	height:7px;
	overflow:visible;
	background-color:transparent;
	background-image: url("buttons/buttonXpart.png");
	background-size:7px 7px;
	background-repeat:no-repeat;
	background-position:center;
	margin-left:12px;
	margin-bottom:1px;
	-webkit-appearance:none;
}

button.ent-button {
  position:absolute;
  top:15px;
  right:15px;
  width:15px;
  height:15px;
  overflow:visible;
  background-color:transparent;
  background-image: url("buttons/buttonE.png");
  background-size:15px 15px;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-appearance:none;
}

button.dlp-button {
  width:170px;
  height:40px;
  overflow:visible;
  background-image: url("buttons/buttonsep.png");
  background-size:170px 40px;
  background-repeat:no-repeat;
  background-position:center;
  background-color:transparent;
  padding-bottom:20px;
}

button.confirm-button {
  width:170px;
  height:40px;
  overflow:visible;
  background-image: url("buttons/button-confirm.png");
  background-size:170px 40px;
  background-repeat:no-repeat;
  background-position:center;
  background-color:transparent;
}

button.pending-button {
  width:170px;
  height:40px;
  overflow:visible;
  background-image: url("buttons/button-pending.png");
  background-size:170px 40px;
  background-repeat:no-repeat;
  background-position:center;
  background-color:transparent;
}


/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color:#222;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size:1em;
  line-height:1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration:none;
}
button.button {
  width:auto;
  overflow:visible;
}

button:hover{
  cursor: pointer;
}

button.button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}
button.button img, a.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}
button.button:hover, a.button:hover {
  background-color:#dedede;
}
button.button:active, a.button:active {
  background-color:#e5e5e5;
}
.text_button_padding{
  color: #222222;
  display: block;
  float: left;
  font-size: 1em;
  line-height: 2em;
  margin: 0 7px 0 0;
  padding: 5px 0 6px 7px;
  text-decoration: none;
}

#date_picker {
  position:absolute;
}

.conteudo{
	margin-left: auto;
	margin-right: auto;
	top: 10px;

	width: 800px;
	text-align: center;
}

.banner{
	position: relative;
	top:30px;
	left:0px;
	width: 800px;
	height: 100px;
	background-image: url("banner/Banner_BETA.png");
	background-size:400px 100px;
	background-repeat:no-repeat;
	background-position:center;
}

.form{
	font-family:Verdana;
	font-size:8pt;
	line-height:12pt;
	text-align:left;
	position:relative;
	width: 800px;
	height: 600px;
	top:70px;
	background: white;
	/*padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 51px;
	padding-left: 10px;
	text-align:left;*/
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	box-shadow:0 0 10px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);	
}

.esqAct{
	position:absolute;
	top:40px;
	left:0px;
	width:185px;
	height:550px;
	
	text-align:left;
	padding-top:10px;
	padding-left:20px;
	padding-right:10px;
}

.esqAct_no_margin{
  position:absolute;
  top:40px;
  left:0px;
  width:185px;
  height:550px;
  
  text-align:left;
  padding-top:10px;
  padding-right:10px;
}

p.header_with_margin{
  margin-left:20px;
}

.dirAct{
	position:absolute;
	top:40px;
	left:210px;
	width:560px;
	height:550px;

	text-align:left;
	padding-top:10px;
	padding-left:10px;
	padding-right:20px;
}

#extra{
	position:absolute;
	top:20px;
	right:30px;
  width:300px;
	text-align:right;
}

.esqForm{
	position:absolute;
	top:40px;
	left:0px;
	width:247px;
	height:550px;
	
	text-align:left;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
}

.meioForm{
	position:absolute;
	top:40px;
	left:267px;
	width:247px;
	height:550px;

	text-align:left;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
}
.dirForm{
	position:absolute;
	top:40px;
	left:534px;
	width:246px;
	height:550px;

	text-align:left;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
}

.text_field{
	height:20px;
	background-color:#F8F8F8;
	border: 1px solid #888;
	width:247px;
	margin-top:5px;
	margin-bottom:5px;
}

.text_field_no_border{
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
	height:20px;
	background-color:transparent;
	width:182px;
	margin-bottom:5px;
  margin-right:10px;
}

img.delete_button{
  padding: 5px;
}

.text_area{
	height:118px;
	resize: none;
	overflow-y: hidden;
	background-color:#F8F8F8;
	border: 1px solid #888;
	width:247px;
	margin-top:5px;
	margin-bottom:5px;
  font-family:Verdana;
  font-size:8pt;
}

.sel_field{
	/*sel_field da hora e isso*/
	height:20px;
	background-color:#F8F8F8;
	border: 1px solid #888;
	margin-top:5px;
	margin-bottom:5px;
}

.sel_field2{
	/*sel_field do GMT*/
	height:20px;
	width:250px;
	background-color:#F8F8F8;
	border: 1px solid #888;
	margin-top:5px;
	margin-bottom:5px;
}

.area_scroll{
	height:205px;
	width:226px;
	overflow-y:auto;
	margin-top:5px;
	margin-bottom:5px;
}

.area_scroll_act{
  height:205px;
  width:206px;
  overflow-y:auto;
  margin-top:5px;
  margin-bottom:5px;
}

#delete {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-decoration:none;
  color:#000000;
}

#delete:hover{
  color:#B0171F;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  height: 10px;
  display: block;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
  background-color: #3b3b3b;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #666;
  border: 1px solid #eee;
  -webkit-border-radius: 6px;
}

::-webkit-input-placeholder {
  font-style:italic;
  font-size:8pt;
}

:-moz-placeholder {
  font-style:italic;
  font-size:8pt;
}

textarea.static_minutes{
 resize: none;
 width:550px;
 height:245px;
 overflow-y: auto;
 background-color:#F8F8F8;
 border: 1px solid #888;
 /*margin-top:5px;
 margin-bottom:5px;*/
 font-size:8pt;
}

textarea.minutes{
 resize: none;
 width:550px;
 height:245px;
 overflow-y: auto;
 background-color:#F8F8F8;
 border: 1px solid #888;
 /*margin-top:5px;
 margin-bottom:5px;*/
 font-size:8pt;
}

div.list{
  height:230px;
  overflow-y:auto;
  margin-top:5px;
  margin-bottom:5px;
}

div.list_margin{
  height:230px;
  overflow-y:auto;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:21px;
}

div.edit_field{
  margin-bottom:50px; 
}

div.edit_field2{
  margin-bottom:54px; 
}

div.edit_field3{
  margin-top:54px;
}

div.edit_field4{
  margin-top:28px;
}

div#effect{
  /*margin-top:70px;*/
  padding-top:100px;
}

button#dlp{
  margin-top:100px;
}

button#confirm{
  margin-top:100px;
}

span.description{
  font-style:italic;
}

img.clickable:hover{
  cursor:pointer;
}

button#presence{
  padding-left:25px;
  margin-left:50px;
}

div.participant{
  margin-bottom:10px;
  overflow-y:auto;
  position:relative;
}
div.participant_name{
  left:20px;
  float:left;
  padding-left:2px;
}

div.participant_buttons{
  float:right;
}

.action_items {
  position:absolute;
  top:50px;
  left:0;
  right:0;
  z-index:1;
  height:100px;
  background-color:red;
}

span.participant_action{
  padding-right:0px;
}
span.participant_action_alone{
  padding-right:25px;
}

span.participant_email{
  padding-right:5px;
}

img.attendance{
  padding: 5px 3px 3px 5px;
  vertical-align: top;
}
div.participant_attendance{
  float: left;
  margin-left: 5px;
}

a.attendance_button{
  color:#000000;
  text-decoration:underline;
  font-style:italic;
}

ul.ui-autocomplete.ui-menu{
    max-width:182px;
    font-size:8pt;
    font-family:Verdana;
}

.pag {
  width: 500px;
  margin: 70px auto 0 auto;
  font-family: Verdana;
  font-size: 8pt;
  line-height: 14pt;
  background: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);  
}

.uniCol {
  width: 460px;
  padding: 20px;
  text-align: left;
}

.uniCol .pad {
  padding-bottom: 10px;
}

.question {
  text-decoration: underline;
  padding-top: 10px;
}

.question:hover {
  cursor: pointer;
}

.answer {
  position: relative;
  overflow: hidden;
}

.back {
  margin-top: 30px;
}

.back img {
  width: 170px;
  height: 40px;
}